<a href="https://colab.research.google.com/github/valansgh/aiml/blob/main/Python_Foundation_with_Rajan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("this works same! press shift+enter to run the code")

this works same! press shift+enter to run the code

In [ ]:
print('it is ok to use single quotes ')

it is ok to use single quotes

In [ ]:
print("It is also OK to use Double Quotes")

It is also OK to use Double Quotes

In [ ]:
print("""you can even use triple
quotes,
only triple quotes allows us to write messages
across Multiple Lines.
you cannot write multiple lines messages using single or
double quotes. """)

you can even use triple
quotes,
only triple quotes allows us to write messages
across Multiple Lines.
you cannot write multiple lines messages using single or
double quotes.

In [ ]:
# let us experience errors <------------------

# this is called comment, comment begins with # (pound) Symbol

# comment is used to write notes , desriptions , todos, reminders etc.

print("ho ho ! merry christmas")

ho ho ! merry christmas

In [ ]:
# here is the formula to find force

print("force = mass * acc. ")

force = mass * acc.

# Let us Develop an understanding of Syntax i.e Grammer
----

In [ ]:

print('hi')    #OK

Print('hi')    #Error

prent('hi')    #Error

print{'hi'}    #Error

print('hi)     #Error

# Quick Question : Are all Numbers processed Same in Mathematics ? NO
---
similarly Not all Data is Processed Same In Python  , in order to Process Data
Correct ,first you must understand the Type(s) of Data.

# DataTypes  | Types of Data
---

# 1. String
---
<pre>
String represents Text Data , it may contain combination of Characters , Numbers or Symbols.
eg.
"upgrad@123"
"51/90 Lincoln Road California"

# 2. Int
---
<pre>
Integer represents Whole Numbers.
eg.
10 , 0 , 90 ,2

# 3. Float
---
<pre>
Float Represents Decimal Values.
eg.
2.2 , 1.0005 , 0.0004

# 4. Bool
---
<pre>
Bool Represents Logical values.
eg.

True, False

In [ ]:
60 > 100

False

In [ ]:
100 > 60

True

# üêù Variables in Python
----
Variables are like containers used to store  value.

In [3]:
name="andika"
age=27
height=5.11
isIndian=False

In [1]:
# notes: only string value is needed to be enclosed in quotation

# variable names should not start with number or symbol . eg. 12Name="andika" ,$name="andika"  ‚ùå

# variable name must not contain space , u can use underscore eg. my name="andika" ‚ùå , my_name="andika" üëå

In [4]:
print(name,age,height,isIndian)

andika 27 5.11 False

In [ ]:
# how about preparing custom strings (messages)

print('how are you ? ', name )

how are you ?  andika

In [ ]:
# another example

print('how are you ? ', name ,' you are ', age ,' years old ')

how are you ?  andika  you are  27  years old

In [ ]:
# above is a poor method of preparing a custom message here is how we do it like PRO

In [ ]:
print(f'how are you {name} you are {age} years old')

how are you andika you are 27 years old

In [ ]:
# preparing friendly messages by combining custom string and variable together
# technically it is called String Formatting.

In [ ]:
# F-String is used for String Formatting

In [ ]:
# There are 2 Rules you must follow to use F STring

  # Rule 1: the sentance must be prefixed with Letter 'f'
  # Rule 2 : the variables must be enclosed in {} brackets.

In [ ]:
# here one more example

In [ ]:
planet='earth'
diameter=12734

In [ ]:
line= f'the diameter of {planet} is {diameter}'

In [ ]:
print(line)

the diameter of earth is 12734

# Quick Activity
---

In [ ]:
item='clock'
day='yesterday'
impact='time consuming'

In [ ]:
# using f string to produce


# 'i Ate a clock Yesterday , it was very time consuming'